<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looters Exchange</title>
</head>
<body>
<div class="container">
<%= form_with url: root_path, id:'select-game-form', method: :get do |form| %>
        <%= form.label :Game %>
        <%= form.select :Game, @games %>
        <%= form.submit "Search" %>
<% end %>  

<% unless params[:Game].nil? %>
<h1 class="game-title"><%= @game.name %></h1>
<div class="content">
    <div class='listings'>
    <% @listings.each do |listings| %>
        <% next if listings.status == 1 %>
        <div class="listing">
        <h3>
            <%= listings.title %>
        </h3>
        <p>
            <%= listings.description %>
        </p>
        <!--<p>
            Status: <%= listings.status.to_s %>
        </p>
        -->
        <p>
            Bids: <%= listings.bids.count %> | <%= link_to 'Details',  "/listings/#{listings.id}"%>
        </p>
        </div>
    <% end %>
    </div>
    <div>
        <%= link_to 'Create listing',  new_listing_path(id: @game.id)%>
    </div>
</div>
<% else %>
<h1>BLOOP</h1>
<% end %>
</div>

</body>
</html>