<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Looters Exchange</title>
</head>
<body>
<%= form_with url: root_path, method: :get do |form| %>
        <%= form.label :Game %>
        <%= form.select :Game, @games %>
        <%= form.submit "Search" %>
<% end %>  

<% unless params[:Game].nil? %>
<%= @game %>
<%= @game.name %>
<div class="content">
    <div class='listings'>
    <% @listings.each do |listings| %>
        <% next if listings.status == 1 %>
        <div class="listing"></div>
        <h3>
            <%= listings.title %>
        </h3>
        <p>
            <%= listings.description %>
        </p>
        <p>
            Status: <%= listings.status.to_s %>
        </p>
        <p>
            Bids: <%= listings.bids.count %> | <%= link_to 'Details',  "/listings/#{listings.id}"%>
        </p>
    <% end %>
    </div>
    <div>
        <%= link_to 'Create listing',  new_listing_path(id: @game.id)%>
    </div>
</div>
<% end %>

</body>
</html>