<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<%# <div class="listings"> %>
    <%# <% @listings.each do |listing| %> %>
        <%# <%= listing.title %> %>
        <%# <div><%= listing.description %></div> %>
        <%# <div><%= listing.status %></div> %>
        <%# <div>Offers</div> %>
        <%# <div class="bid"> %>
        <%# <% listing.bids.each do |bid| %> %>
            <%# <div><%= bid.title %> | <%#= User.find(bid.user_id).email %></div> %>
            <%# <p class="bid-description"><%= bid.description %></p> %>
        <%# <% end %> %>
        <%# </div> %>
    <%# <% end %> %>
<%# </div> %>
    
</body>
</html>