<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Create new entry for: <%= @game.name %></h1>

<ul>
    <% @listing.errors.full_messages do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>

<% @listing.game_id = @game.id %>
<ul>
    <li>
        <%= @listing.title %>
    </li>
    <li>
        <%= @listing.description %>
    </li>
    <li>
        <%= Game.find(@listing.game_id).name %>
    </li>
</ul>

<%= form_with model: @listing, url: "/listings/#{@game.id}", local: true do |form| %>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <%= form.label :description %>
        <%= form.text_field :description %>
        <%= form.label :images %>
        <%= form.file_field :images, accept: 'image/png, image/jpg, image/jpeg' %>
        <%= form.submit "Submit" %>
<% end %> 
    
</body>
</html>
