<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="listing-details">
<% if current_user.nil? %>
<% owned_by_current_user = false %>
<% else %>
<% owned_by_current_user = current_user.id == @listing.user_id %>
<% if current_user.id == @listing.user_id %>
<%= link_to 'Edit', edit_listing_path%>
<% end %>
<% end %>
<p><%= User.find(@listing.user_id).email %></p>
<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<%# puts 'listings = ' + @listing.images.length.to_s %>
<% unless @listing.images.length == 0 %>
    <%= image_tag @listing.images.first, alt: 'Pic of item' %>
<% end %>
</div>

<div class="listing-bids">
    <h3>Bids: </h3>
    <ul class = 'listing-bids'>
        <% @listing.bids.each do |bid| %>
            <li>
                <div>
                    <p><%= User.find(bid.user_id).email %></p>
                    <p><%= bid.title %></p>
                    <p><%= bid.description %></p>
                    <% if owned_by_current_user %>
                        <%= link_to 'Accept bid', root_path %>
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
</div>

<div id="create-new-bid">
<% unless owned_by_current_user %>
    <%= link_to 'Make a bid',  new_bid_path(id: @listing.id)%>
<% end %>
</div>
    
</body>
</html>