<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="user-container">
<h3 class="user-title">My Listings: </h3>
<ul class='listing-list'>
<% @user.listings.each do |listing| %>
<div class="listing">
    <h5 class='listing-title'><%= listing.title %></h5>
    <p class="status"><%= listing.status == 1 ? "Complete" : "Bids: " + listing.bids.length.to_s %></p>
    <p class="details"><%= link_to 'Details', "/listings/#{listing.id}" %></p>
</div>
<% end %>
</ul>

<h3>My Bids: </h3>
<ul class='listing-list'>
<% @user.bids.each do |bid| %>
<div class="listing">
    <h5 class="listing-title"><%= bid.title %></h5>
    <p class="status"><%= bid.status == 1 ? "Accepted" : "Pending" %></p>
    <p class="details"><%= link_to 'Details', "/listings/#{bid.listing.id}" %></p>
</div>
<% end %>
</ul>
</div>
</body>
</html>
