<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1><%= @user.email %></h1>
<h3>My Listings: </h3>
<ul>
<% @user.listings.each do |listing| %>
<div class="listing">
    <p>
    <%= listing.status == 1 ? "Complete: " : "Pending: " %><%= link_to listing.title, "/listings/#{listing.id}" %>
    <%#= listing.status.to_s %>
    <% if listing.status == 0 %>
    <%= " Bids: " + listing.bids.length.to_s %>
    <% end %>
    </p>
</div>
<% end %>
</ul>

<h3>My Bids: </h3>
<ul>
<% @user.bids.each do |bid| %>
<div class="bid">
    <p>
    <%= bid.status == 0 ? "Pending" : "Accepted" %>: 
    <%= bid.title %>
    <%= link_to 'see listing', "/listings/#{bid.listing_id}" %>
    </p>
    <% if bid.status == 1 %>
        <p>You can contact the user here: <%= User.find(Listing.find(bid.listing_id).user_id).email %></p>
    <% end %>
</div>
<% end %>
</ul>
</body>
</html>
