<!DOCTYPE html>
<html>
  <head>
    <title>LootersExchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='header-navigation'>
    <div id="home">
      <%= link_to "Home", root_path, id:"home-button", class: "btn btn-outline-primary"%>
      <p id="site-title">Looters Exchange</p>
    </div>


    <div id="user-links">
      <% if current_user.nil? %>
      <%= link_to "Login", new_user_session_path, id:"login-button", class:"btn btn-outline-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, id:"signup-button", class:"btn btn-outline-success"%>
      <% else %>
      <p id="user-email"><%= current_user.email %></p>
      <%= link_to "My account", show_user_path(user_id: current_user.id), id:"my-account-button", class:"btn btn-outline-info" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, id:"logout-button", class:"btn btn-outline-danger"%>
      <% end %>
    </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
